<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<html>
<head>
  <title>WebRTC & WebSocket Audio Stream Demo</title>
</head>
<body>
  <button id="start">开始录制</button>
  <button id="end">结束录制</button>
  <button id="clean">清除内容</button>
  <script src="{{ url_for('static', filename='main2.js') }}"></script>


  <div id="recognition">
    <p>识别内容:</p>
    <p id="Hiscontent" style = "  word-wrap: break-word; max-width: 90%;"></p>
    <p id="Nowcontent" style = "  word-wrap: break-word; max-width: 90%; color: gray"></p>
  </div>
  <div id="translation">
    <p>翻译内容:</p>
    <p id="Trancontent" style = "  word-wrap: break-word; max-width: 90%; color: blue"></p>
  </div>

</body>
</html>