<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Cache" content="no-cache">
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
  <title>WebRTC & WebSocket Audio Stream Demo</title>
</head>
<body>
  <div class="topbar-container">
    <img src="{{url_for('static', filename='1.png')}}" style="height: 10vh;">
    <!-- <img src="../static/1.png" style="height: 10vh;"> -->
    <h1>WeSpeak: Simutinously Interpretation System</h1>
  </div>
  
  <div class="button-container">
    <p style="margin-left: 3%;"></p>
    <button id="start">开始录制</button>
    <button id="end">结束录制</button>
    <button id="clean">清除内容</button>
  </div>
  <div class="container">
    <div class="window">
      <p>识别内容:</p>
      <div id="recognition" class="scrollable-div">
        
        <p id="Hiscontent" class="black-text">test</p>
        <p id="Nowcontent" class = "gray-text">test</p>
      </div>
    </div>
    <div class="window">
      <p>翻译内容:</p>
      <div id="translation" class="scrollable-div">
        
        <p id="Trancontent" class = "blue-text">test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test
          test</p>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='main.js', _=5) }}"></script>
</body>
</html>