<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Cache" content="no-cache">
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/styleSingle.css">
  <title>WeSpeak: Simutinously Interpretation System</title>
</head>
<body>
  <div class="topbar-container">
    <img src="../static/image/logo.png" style="min-height: 50pt; height: 100%">
	<!--<div class="title">
		<h1>「同語」同声传译系统</h1>
		<p class="english-title">WeSpeak: Simutinously Interpretation System</p>
	</div>-->
    <img id = "title" src="../static/image/title.svg" style="min-height: 20pt; height: 65%">
    <div class="setting-container">
      <button class="settingButton" id="model">中-英</button>
      <button class="settingButton" id="language-change"></img>
        <img class = "icon" id="icon1" src="../static/image/language.png"></img>
      </button>
      <button class="settingButton" id="font-size">
        <img class="icon" id="icon2" src="../static/image/fontSize.png"></img>
      </button>
    </div>
    <div id = "hiddenButton" class = "hiddenButton" style="display: none; position: absolute;">
      <button class="settingButton" id="zh-en" onclick="selectMode('zh-en')">中-英</button>
      <button class="settingButton" id="zh-pt" onclick="selectMode('zh-pt')">中-葡</button>
      <button class="settingButton" id="en-zh" onclick="selectMode('en-zh')">英-中</button>
      <button class="settingButton" id="en-pt" onclick="selectMode('en-pt')">英-葡</button>
    </div>
  </div>
  <div class="main-container">
    <div class="container">
      <div class="window" style="">
        <p class="normal-text" id='recog content'>识别内容:</p>
        <div id="recognition" class="scrollable-div">
          <div class="scroll" id="recognition-scroll">
            <p id="Hiscontent" class="black-text">test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
              test
            </p>
      
          </div>
          <p id="Nowcontent" class = "gray-text">test</p>
        </div>
      </div>
    </div>
    <div class="button-container">

      <button id="start" onclick="">开始录制</button>
      <!--<button id="end">结束录制</button>-->
      <button id="clean">清除内容</button>
      <button id="download">下载文档</button>
    </div>
  </div>
  <div class="foot-container">
    <div class="mark-container">

      <img src="../static/image/nlp2ct.png" class= "bottomImage" style="">

      <img src="../static/image/um.png" class= "bottomImage" style="">

      
      <div class="contact">
        <h4 id="contact us"> 联系我们 </h4>
        <a class="linn" href="mailto:dc02764@um.edu.mo">
          <img src="../static/image/mail.png" style="height:1.1em; vertical-align: middle;">
          dc02764@um.edu.mo
        </a>

        <br>
        <a class="linn" href="mailto:dc02727@um.edu.mo">
          <img src="../static/image/mail.png" style="height:1.1em; vertical-align: middle;">
          dc02727@um.edu.mo
        </a>
      </div>

      <div class="link">
        <h4 id="related links"> 相关链接 </h4>
        <a class="linn" id="UM" href="https://www.um.edu.mo/">
          <img src="../static/image/link.png" style="height:1.1em; vertical-align: middle;">
          澳门大学官网
        </a>
        <br>
        <a class="linn" id="NLP2CT" href="http://nlp2ct.cis.um.edu.mo/">
          <img src="../static/image/link.png" style="height:1.1em; vertical-align: middle;">
          自然語言處理與中葡機器翻譯實驗室
        </a>
      </div>
    </div>


    
    <p class="copyright">Copyright © 2024 NLP2CT, University of Macau</p>

  </div>
  <script src="../static/mainSingle2.js"></script>
</body>
</html>