
/* 更改滑动条的高度 */
::-webkit-scrollbar {
    height: 0.7vh;
  }
  
  /* 更改滑动条的宽度 */
  ::-webkit-scrollbar {
      width: 0.7vh;
  }
  
  /* 更改滑动条的背景色 */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  
  /* 更改滑动条滑块的颜色 */
  ::-webkit-scrollbar-thumb {
      background: #888;
  }
  
  /* 当鼠标悬停在滑动条滑块上时，更改其颜色 */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
  h1 {
    color: #026989; /* 设置文字颜色为深灰色 */
    font-family: Arial, sans-serif; /* 设置字体 */
    font-size: 2em; /* 设置字体大小 */
    text-align: center; /* 居中对齐 */
    margin: 10px 10px;
    letter-spacing: 1px;
	  margin-bottom: 0;
	  margin-left: 0;
    }

  h4{
    margin:0;
    padding: 0;
    font-size: 1em;
    margin-left: 1em;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    /* background-color: #f0f0f0; */
    background-color: #dfe5f0;
    height: 100vh ;

    /* position: relative; */
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #333;
    color: white;
    /* padding: 10px; */
    text-align: center;
  }
  
  main {
    /* margin: 15px; */
    margin: 0px;
  }
  
  button {
    background-color: #008CBA;
    color: white;
    padding: 10px 30px;
    margin: 2px 3%;
    /* margin-right: 3%; */
    border: none;
    cursor: pointer;
    text-align: center;
    /* display: inline-block; */
    font-size: 16px;
    border-radius: 10vh;
    box-shadow: 0px 0px 10px rgb(173, 178, 182);
  }
  
  button:hover {
    background-color: #007B9A;
  }

  a{
    text-decoration: none;
  }

  .topbar-container{
    display: flex;
    width: 100vw;
    height: 10%;
    max-height: 15vw;
    /* min-height: 70pt; */
    background-color: white;
    box-shadow: 0px 0px 30px rgb(203, 209, 213);
    margin-top: 0px;
    align-items: center;

  }
	.title{
		justify-content: center;
	}
  
	.english-title{
		color: #026989; /* 设置文字颜色为深灰色 */
		font-family: Arial, sans-serif; /* 设置字体 */
		margin: 10px 10px;
		margin-top: 0;
		margin-left: 30px;
	}

  .setting-container{
    position: absolute;
    right: 2%;
    align-items: center;
    justify-content: center;
  }

  #language-change{
    margin-right: 20px;
  }

  #model{
    margin-right: 20px;
  }

  /* #font-size{
    margin-right: 20px;
  } */

  .settingButton{
    border-radius: 0;
    background-color: #1d2b52;
    margin: 0;
    padding: 10px 10px;
    font-size: 15pt;
    /* padding: 0; */
  }

  .icon{
    height: 15pt;
    padding: 0;
    margin: 0;
  }

  


  .main-container{
    width: 100vw;
    height: 75%;
    /* padding-top: 5vh; */
  }
  
  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    padding-bottom: 0;
  }


  .foot-container{
    /* display: flex; */
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgb(203, 209, 213);
    width: 90%;
    /* height: 15%; */
    min-height: 15%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    /* bottom: 0; */
  }

  .mark-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-bottom: 1%; */
  }

  .contact{
    /* display:block; */
    padding: 0;
    margin: 0;
    height:80%;
    width:20%;
  }

  .link{
    /* display: inline-block; */
    padding: 0;
    margin: 0;
    height:80%;
    width:20%;
    
  }

  .linn{
    width: 100%;
    font-size: 10pt;
    align-items: center;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    text-decoration: none;
    color: #1296db;
  }
  
  
  .window{
    /* border: 1px solid black; */
    width: 80%;
    height: 100%;
    /* overflow: auto; */
    /* padding: 0px 3%; */
    /* margin-right: 5%; */
  }

  .normal-text{
    padding-left: 10px;
	max-height: 20%;
	height: 40px;
	margin: 0;
  
	display: flex;
	align-items: center;
  }
  
  .scrollable-div {
    /* border: 1px solid black; */
    /* display: flex; */
    margin: 0;
    /* width: 100%; */
    height: 80%;
    padding-left: 10px;
	  padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(203, 209, 213);
    align-items: center;
    justify-content: center;
  }

  .scroll{
    box-sizing: border-box;
    overflow: auto;
    height: 89%;
    width: 100%;
  }
  
  .mark-container{
    height: 80%;
  }

  .gray-text {
    color: gray;
    white-space: pre-line;
    position: relative;
    bottom: 0px;
  }
  
  /* .blue-text {
    color: rgb(75, 141, 217);
    white-space: pre-line;
  } */
  
  .black-text{
    color: black;
    white-space: pre-line;
    
  }

  .copyright{
    text-align: center;
    margin: 10pt;
    font-size: small;
    position: absolute;
    bottom: 0;
    width: 80%;
  }

  .bottomImage{
    height: 50pt;
  }


 /*小窗*/
  @media screen and (max-height: 300px) {
    .topbar-container{
      display: none;
    }

    .foot-container{
      display: none;
    }
    
    .button-container{
      margin-top: 5vh;
      display: none;
    }

    .normal-text{
      display: none;
    }

    .main-container{
      height: 100vh;
    }

    .container{
      height: 90vh;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    .window{
      height:100%;
      width: 45vw;
      margin: 1vw;
    }

    .scrollable-div{
      width: 95%;
    }

  }
 /*手机*/
  @media screen and (max-aspect-ratio: 9/9){

	
    .foot-container{
      height: 30%;
    }
    .link{
      width:40%;
	  height: auto;
    }

    .contact{
      width:40%;
	  height: auto;
    }
	.window{
		/* width: 80%; */
		margin: 0;
		/* height: 50%; */
		padding: 0;
		/* margin-left: 5%; */
		
	}
	
	.container{
		/* display: block; */
		align-items: center;
		justify-items: center;
		height: 80%;
	}
	
	.mark-container{
		margin-bottom: 10%;
		align-items: baseline;
	}
	
	.foot-container{
		height: auto;
		
	}

  .bottomImage{
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
    height: auto;
  }
	
  .linn{
    font-size: 30pt;
  }
	
	
/* 	button{
		font-size: 1.5em;
	}
	
	p{
		font-size: 1.2em;
	} */
	
  }